<form method="post" action="{{ path('app_mook_delete', {'id': mook.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mook.id) }}">
    <button class="btn">Delete</button>
</form>
