{% extends 'base.html.twig' %}

{% block title %}Edit Mook{% endblock %}

{% block body %}
    <h1>Edit Mook</h1>

    {{ include('mook/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mook_index') }}">back to list</a>

    {{ include('mook/_delete_form.html.twig') }}
{% endblock %}
