<img src="{{ asset('build/images/Bannière WEBSITE GEM.png') }}" alt="Banniere Les Univers Singuliers"/>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #FA7824;">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="container">
			<header class="d-flex justify-content-center ">
				<ul class="nav ">
					<li class="nav-item">
						<a href="#" class="nav-link active" aria-current="page">
							<font style="vertical-align: inherit;color: #FFDF57;">
								<font style="vertical-align: inherit;">HOME</font>
							</font>
						</li>
					</li>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<font style="vertical-align: inherit;color: #FFDF57;">
						<font style="vertical-align: inherit;">ASSOCIATION</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<font style="vertical-align: inherit;color: #FFDF57;">
						<font style="vertical-align: inherit;">MOOK</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<font style="vertical-align: inherit;color: #FFDF57;">
						<font style="vertical-align: inherit;">INFOS AUTISME</font>
					</font>
				</a>
			</li>
			<li class="nav-item">
				<a href="#" class="nav-link">
					<font style="vertical-align: inherit;color: #FFDF57;">
						<font style="vertical-align: inherit;">BLOG</font>
					</font>
				</a>
			</li>
		</ul>
	</header>
</div></div></nav>
